body{
    background-color: rgb(223, 223, 223);
}
header{
 height: 25px;
    
}
header button{
   
  
    border: none;
    color:rgb(255, 225, 199);
    background-color: rgb(249, 178, 107);
}
.container{
    margin: 50px 200px;
    background-color: rgba(249, 175, 118, 0.874);
}
.conteudos{

    border: 2px solid hsl(14, 69%, 39%);
   
}
.abas{
    display: flex;
}
.abas button {
    background-color: rgb(249, 175, 118);
    font-family: 'Rowdies';
    border: 2px solid rgb(254, 64, 30);
    color: #ffffff;
    cursor: pointer;
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: bold;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
    transition: all .5s;
}
.conteudos {
    border: 2px solid rgb(224, 56, 26);
    min-height: 300px;
    padding: 20px;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form input{
    padding: 10px;
    border: 2px solid rgb(254, 64, 30);
}
.form button{
    font-family: 'Rowdies';
    padding: 10px;
    background-color: rgb(254, 64, 30);
    border:none;
    outline: none;
    color:white;
    font-weight: bold;
}

.abas .ativa{
        background-image: linear-gradient(to left, rgb(255, 206, 92),rgb(255, 227, 103),rgb(255, 206, 92));
}